@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  font-size: 50px;
  color: gray;
  position: absolute;
  right: 50px;
  margin-top: -50px;
  cursor: pointer;
}

.view-module {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.view-list {
  margin-top: 100px;
}

.img-module {
  width: 200px;
}

.product-card {
  width: 30px;
}

.product-card-list {
 
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.img-list {  
  height: 50px;
}